.main {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-left: 30px;
    width: calc(100vw - 30px);
    height: 100vh;
    background: linear-gradient(90deg, #41b24a 0%, yellow 100%);
}

.li {
    font-weight: 800;
    list-style: none;
}